nav {
  background: #4a90e2;
	font-size: 24px;
	color: #00408b;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display:inline-block
  }
	a {
		display: inline-block;
    color: #00408b;
		text-align: center;
		padding: 24px 0 19px 0;
		border-bottom: 5px solid #4a90e2;
		width: 174px;
		margin: 0 10px;
    text-decoration: none;
		&.router-link-exact-active, &:hover {
			color: #fff;
			cursor: pointer;
			border-bottom: 5px solid #00408b;
		}
	}
}