.form__input {
  margin: 24px 0;
  input {
    width: calc(100% - 38px);
		height: 65px;
		border-radius: 5px;
		background: #fff;
		border: 1px solid #c8c8c8;
		padding-left: 33px;
		font-size: 24px;
  }
}

.form__content {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
	padding: 24px 72px 0 72px;
	margin-top: -21px;
	border-radius: 5px;
}

.form__action {
  .el-button-group {
		width: 100%;
	}
	button {
		width: 50%;
		border-radius: 0;
		border: none;
		padding: 16px 0;
		font-size: 20px;
	}
	.el-button--default {
		color: #d0021b;
	}
	.el-button--primary {
		background: #4a90e2;
	}
}

.lists__edit {
	.el-input__inner, .el-textarea__inner {
		width: 90%;
	}
}